<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  <log4net configSource="App_Data\log4net.config"/>

  <appSettings>
    <!--job间隔时间，单位分钟-->
    <add key="IntervalTime" value="1"/>
  </appSettings>
</configuration>