<?xml version="1.0" encoding="utf-8" ?>
<TCSmartFramework.DataAccess>
  <Database name="Hot371">
    <read>
      <server enabled="true" connectionString="Data Source=192.168.217.128;Initial Catalog=Hot371;User ID=sa;Password=1;Persist Security Info=True;" />
    </read>
    <write>
      <server enabled="true" connectionString="Data Source=192.168.217.128;Initial Catalog=Hot371;User ID=sa;Password=1;Persist Security Info=True;" />
    </write>
  </Database>
</TCSmartFramework.DataAccess>

